<!doctype html>
<html>

<head>

    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="bootstrap.min.js"></script>

</head>

<body>

    <div class="container">

        {{{body}}}

    </div>
</body>

</html>
