<form role="form" method="POST" action="/">
    <div class="form-group">
        <label for="sites">URLs (separated by ','):</label>
        <input type="text" class="form-control" name="sites" placeholder="example: google.com, amazon.com">
    </div>
    <button type="submit" class="btn btn-success">Evaluate</button>
</form>
